@import '../../../_util.scss';

#a-section-lft{
    // background-color: rgb(39, 196, 52);
    width: 70%;
    min-height: inherit;
}
#a-section-rt{
    // background-color: yellow;
    width: 30%;
    height: 70vh;
    position: sticky;
    top:20vmin;
    border-left: 1px solid #00000017;
    padding: 1em 2em;
}
.top-org-card{
    padding: .5em;
    @include flex(space-between,center);
    // background-color: red;
    margin-top: 1em;
    // img{
    //     width: 50%;
    // }
}
