@import '../../util';


.srch-hero{
    width:100%;
    height: 100vh;
    position: relative;
    background-color: red;
    form{
        position: relative;
        z-index: 3;
        .srchForm{
            width: 90%;
            margin: 0 auto;
            border-radius: 2em;
        }
        .MuiOutlinedInput-root{
            border-color:transparent;
        }
    }
    .gradient{
        position: absolute;
        top:0;
        z-index: 2;
    }
    .c-elm{
        width: 100%;
        height:100%;
        // background-color: red;
        // .reveal-img{
        //     width: ;
        // }
    }
}
.g-reverse{
    background: linear-gradient(to top,transparent,#ffffff05,#ffffff10,#ffffff23,#ffffff38,#ffffff4b,#ffffff75,#ffffffb4,#ffffffd8,#ffffffec,#ffffff) !important;
}
.gradient{
    width:100%;
    height: 100vh;
    background: linear-gradient(to bottom,transparent,#ffffff05,#ffffff10,#ffffff23,#ffffff38,#ffffff4b,#ffffff75,#ffffffb4,#ffffffd8,#ffffffec,#ffffff);
}
.c-ovly{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    // backdrop-filter: blur(5px);
}

#write-now{
    width: 30vmax;
    height: 80vh;
    background-color: yellow;
    position: sticky;
    // right:0;
    top:20%;
    // margin-top: -50%;
    margin-right: 0;
    z-index: 8;
}