@import './util';



.content{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    // padding-top: 10vmin;
    position: relative;
    padding:5vmin 10vmin 20vmin 10vmin;


    @include flex(space-between,flex-start)
}

.main-font{
    font-family: $logo;
}
.section-partition{
    position: relative;
    z-index: 99;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0));
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }


.img-placeholder{
    width: 100%;
    height: 100%;
    background-color: red;
}


.smooth-image {
    transition: opacity 3s;
  }
  .image-visible {
    opacity: 1;
  }
  .image-hidden {
    opacity: 0;
  }