@import '../util';

.auth{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 3;
    @include flex(flex-end,flex-end);
    .aRt{
        width: 60%;
        height:100%;
        // backdrop-filter: blur(10px);
        background-color: #fff;
        overflow-y: auto;
        // padding-bottom: 2em;
    }
   
}

.orgFormBox{
    width: 100%;
    height:70vh;
    // background-color: red;
    // overflow-y: auto;
    padding:2em 0;
    form{
        width:80%;
    }
}

.orgFields{
    margin-bottom: 1em;
}